@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 104, 139, 120;
  --background-end-rgb: 232, 223, 223;
  --classic-texture: url('/smoothbg.jpg');
  --earth-tone-1: #e226ff; /* Warm Earth Tone */
  --earth-tone-2: #126921; /* Light Earth Tone */
  --modern-accent-1: #2D2D2D; /* Dark Accent for Modern Contrast */
  --modern-accent-2: #E0E0E0; /* Light Accent for Modern Feel */
  --font-family-header: 'Times New Roman', serif; /* Renaissance-like font */
  --font-family-body: 'Arial', sans-serif; /* Modern font */
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    var(--classic-texture),
    rgb(var(--background-start-rgb));
  font-family: var(--font-family-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
  color: var(--earth-tone-1);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}

.text-container {
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity as desired */
  border-radius: 10px; /* Optional: Adds some rounding to the edges */
  padding: 20px; /* Adjust padding as per your design */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Arrange content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.centered-heading {
  display: flex;
  justify-content: center; /* Horizontally centers the heading */
  text-align: center; /* Aligns multiple lines of the heading to the center */
  width: 100%; /* Adjust to ensure full-width centering */
}




.project-frame {
  padding: 10px;
  border: 5px solid var(--earth-tone-2);
  box-shadow: 4px 4px 8px var(--modern-accent-1);
  background: var(--classic-texture);
}


.ripple {
  position: relative;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 1.5s linear forwards;
  pointer-events: none;
  mix-blend-mode: soft-light;
  background: rgba(255, 255, 255, 0.7); /* Light color for visibility */
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}


.image-container {
  display: inline-block; /* Makes the hover effect apply to the area of the image only */
  border-radius: 100%; /* Keeps the rounded look */
  
}

.image-container:hover .glow-on-hover {
  animation: rotateImage 3s linear infinite;
  box-shadow: 0 0 8px #1d471a, 0 0 12px #FFF, 0 0 16px #39b3e3, 0 0 20px #2e8c99, 0 0 24px #227288, 0 0 28px #255d9a;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glow-on-hover:hover {
  box-shadow: 0 0 8px #FFF, 0 0 12px #ffffff, 0 0 16px #91a8d3;
  transition: box-shadow 1s ease-in-out;
  padding: 0px;
  border-radius: 50% 
}



/* Example CSS for project animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-appear {
  animation: fadeInUp 0.5s ease-out forwards;
}

/* Ensure the project cards take up the full width */
.project-card {
  width: 100%;
  max-width: 1200px; /* Optionally limit the max width */
  margin: 0 auto; /* Center the card */
}


body {
  font-family: 'Great Vibes'; /* Add this font to your project */
}

.font-cursive {
  font-family: 'Great Vibes';
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}


.perspective {
  perspective: 1800px;
  -webkit-perspective: 1800px;
}

.page {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transition: transform 1s;
}

.page.turn {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

.page-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.book-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 50px auto;
  background-color: black;
  color: white;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

.image-container {
  display: inline-block;
  border-radius: 100%; 
}

.image-container .glow-on-hover {
  animation: rotateImage 3s linear infinite;
  box-shadow: 0 0 8px #00f0ff, 0 0 12px #00f0ff, 0 0 16px #00f0ff, 0 0 20px #00f0ff, 0 0 24px #00f0ff, 0 0 28px #00f0ff;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glow-on-hover {
  box-shadow: 0 0 8px #00f0ff, 0 0 12px #00f0ff, 0 0 16px #00f0ff;
  transition: box-shadow 1s ease-in-out;
  border-radius: 50%;
}
