@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 104, 139, 120;
  --background-end-rgb: 232, 223, 223;
  --classic-texture: url('/newimptest.jpeg');
  --classic-texture2: url('/impimg2.webp');
  --earth-tone-1: #e226ff; /* Warm Earth Tone */
  --earth-tone-2: #126921; /* Light Earth Tone */
  --modern-accent-1: #2D2D2D; /* Dark Accent for Modern Contrast */
  --modern-accent-2: #E0E0E0; /* Light Accent for Modern Feel */
  --font-family-header: 'Times New Roman', serif; /* Renaissance-like font */
  --font-family-body: 'Arial', sans-serif; /* Modern font */
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    var(--classic-texture),
    rgb(var(--background-start-rgb));
  font-family: var(--font-family-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
  color: var(--earth-tone-1);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}


.project-frame {
  padding: 10px;
  border: 5px solid var(--earth-tone-2);
  box-shadow: 4px 4px 8px var(--modern-accent-1);
  background: var(--classic-texture);
}


.ripple {
  position: relative;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 1.5s linear forwards;
  pointer-events: none;
  mix-blend-mode: soft-light;
  background: rgba(255, 255, 255, 0.7); /* Light color for visibility */
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}


.image-container {
  display: inline-block; /* Makes the hover effect apply to the area of the image only */
  border-radius: 100%; /* Keeps the rounded look */
  
}

.image-container:hover .glow-on-hover {
  animation: rotateImage 3s linear infinite;
  box-shadow: 0 0 8px #1d471a, 0 0 12px #FFF, 0 0 16px #39b3e3, 0 0 20px #2e8c99, 0 0 24px #227288, 0 0 28px #255d9a;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glow-on-hover:hover {
  box-shadow: 0 0 8px #FFF, 0 0 12px #ffffff, 0 0 16px #91a8d3;
  transition: box-shadow 1s ease-in-out;
  padding: 0px;
  border-radius: 50% 
}

